h2{
    color:blue;
    text-align:left;
}
body
{
    background-color:blanchedalmond;
    width: 50%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
.container
{
    width: 360px;
}

#to_do
{
    width: 350px;
    height: 33px;
    border: 1px solid black;
    vertical-align: middle;
    outline: none;
}
#AddtoDO
{
    height: 40px;
    width:40px;
    font-size:18px;
    vertical-align: middle;
    
}
.paragraph-styling
{
    cursor: pointer;
    font-size: 20px;
}